################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RemoteLogLib/Debug
/Debug
/Client/Debug
/Server/Debug
/RemoteLog.sdf
/RemoteLog.v12.suo
